/* Connect Form */

.connectForm {
    background-color: #B0B0B0;

    justify-self: center;
    border-radius: 66px;
    padding: 0.75rem 3rem;
}

.connectForm input[type="text"] {
    padding: 0.25rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.connectForm input[type="submit"] {
    padding: 0.25rem 1rem;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
}

.connectForm input[type="submit"]:hover {
    background-color: #ccc;

    transform: scale(1.05);
    transition: transform 200ms;
}


.connectForm .connectionStatus img {
    position: relative;
    
    top: 0.1rem;
    height: 15px;
}


/* Main Content Form */

.content {
    align-items: center;
    justify-self: center;

    background-color: #B0B0B0;

    padding: 2.5rem 4rem;
    
    width: 87.5%;
    height: auto;
    border-radius: 33px;
}

.clicker,
.soundClicks {
    legend {
        font-size: 33px;
    }

    form {
        padding-left: 2rem;
    }

    width: 35rem;
    border-radius: 24px;
    border: none;
    background-color: #8D8D8D;
}

.soundClicks {
    width: 20rem;
    height: auto;
}

.clicker label {
    padding-left: 1rem;
    font-size: 18px;

}