* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI';
    
    color: #000000;
}

.headerBar {
    padding: 0.5rem 1rem;
}

.headerBar #menu {
    background-color: #B0B0B0;

    margin-top: -3.5rem;

    justify-self: center;
    border-radius: 33px;
    padding: 0.75rem 2.5rem;
}

.headerBar #menu a {
    color: #000;
    text-decoration: none;

    margin: 0 0.5rem;
}

.headerBar #menu a:hover {
    cursor: pointer;

    font-size: 1.5rem;

    transition: font-size 500ms;
}



/* */
/* Footer */
/* */

.footerBar {
  position: relative;
  bottom: 0;
  width: 100%;
}

.footerBar a {
    text-decoration: none;

    justify-content: center;
    display: flex;

    line-height: 0.75rem;

    margin-bottom: 0.5rem;
}