* {
    margin: 0;
    font-family: system-ui;
}

.headerBar {
    padding: 0.5rem 1rem;
}

.headerBar #menu {
    justify-self: center;
    margin-top: -3.5rem;

    background-color: #f0f0f0;
    border-radius: 33px;
    padding: 0.75rem 2.5rem;
}

.headerBar #menu a {
    color: #000;
    text-decoration: none;

    margin: 0 0.5rem;
}

.headerBar #menu a:hover {
    cursor: pointer;

    font-size: 1.5rem;

    transition: font-size 500ms;
}



.footerBar {
  position: relative;
  bottom: 0;
  width: 100%;
}

.footerBar a {
    color: #000;
    text-decoration: none;

    justify-content: center;
    display: flex;

    margin-bottom: 0.5rem;
}
